main {
  background-color: var(--background-color);
}

#firstContainer {
  padding: 1%;
  width: 100%;
  display: flex;
  position: relative;
  /* background-color: var(--section-color); */
}
/* -------------------LIST BUTTON -------------------- */
.allShowButtons {
  width: 13%;
  background-color: var(--div-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  position: sticky;
  top: 10%;
  border-radius: 10px;
}
.allShowButtons ul {
  padding-left: 1%;
  list-style-type: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.allShowButtons li {
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.allShowButtons li:hover {
  border: 1px solid #fff;
  background-color: var(--button-color);
}

#showProducts,
#showCategories,
#showUsers {
  padding: 2% 0;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

/* ----------------- STATS  ------------------------- */
#secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
}
.sectionStats {
  width: 95%;
  background-color: var(--div-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 1%;
}
.sectionStats h3 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 1%;
}
.stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1%;
  margin: 1% 0;
  gap: 1%;
}
.cardStat {
  background-color: var(--nav-color);
  border-radius: 10px;
  width: 220px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2%;
  color: #fff;
}
.cardStat i {
  font-size: 2em;
}
.cardStat > p:nth-child(2) {
  font-size: 1.5em;
}

/* -------------------LIST FORM -------------------- */
.FormForAdd {
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

#addItem {
  background-color: var(--div-color);
  border: 1px solid var(--border-color);
  padding: 1% 1% 2%;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#addItem h3 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

#formProduct {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1% 0;
}

#formProduct label {
  color: #fff;
  font-style: italic;
}
#formProduct input,
#formProduct select {
  background-color: var(--input-color);
  color: #fff;
  border-radius: 5px;
  /* width: 80%; */
  border-radius: 10px;
  outline: none;
  height: 50px;
  padding: 2%;
}
.groupInput {
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 2% 0;
}
.BoxInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.divInput {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#descriptionItem {
  padding: 1%;
  border-radius: 5px;
  resize: none;
  height: 100px;
  background-color: var(--input-color);
  color: #fff;
  outline: none;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
#messageProduct {
  width: 100%;
  color: #ffa938;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  height: 35px;
  margin: 0;
}
.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit input {
  width: 50%;
  cursor: pointer;
  padding: 0 !important;
  background-color: var(--button-color) !important;
}
.submit input:hover {
  background-color: var(--main-color) !important;
}
.formEdit {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Formulaire Catégories */

.MainContent {
  display: flex;
  width: 30%;
}
#FormCategories {
  background-color: var(--div-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#FormCategories h3 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 2% 0;
}
.FormChild {
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 50px;
}
#FormCategories label {
  color: white;
  display: flex;
  align-items: end;
  font-style: italic;
}
#FormCategories input,
#FormCategories select {
  padding: 2%;
  background-color: var(--input-color);
  color: #fff;
}
#idParent {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#messageCategories {
  color: #ffa938;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
#submitCategorie {
  padding: 0 !important;
  background-color: var(--button-color) !important;
  cursor: pointer;
}
#submitCategorie:hover {
  background-color: var(--main-color) !important;
}
/* ------------------- PANEL -------------------- */

.tableProducts,
.tableCategories,
.tableUsers {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  /* top: 2%;
  left: 22%; */
  transform: translate(-50%, -50%);
  height: 600px;
  overflow-y: auto;
  width: 70%;
}

#products,
#categories,
#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
/* #products tr:nth-child(odd) {
  background-color: red;
}
#products tr:nth-child(even) {
  background-color: blue;
} */
#products td,
#products th,
#categories td,
#categories th,
#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#products tr,
#categories tr,
#users tr {
  background-color: #f2f2f2;
}
/* #products tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#products tr:hover,
#categories tr:hover,
#users tr:hover {
  background-color: #ddd;
}

#products th,
#categories th,
#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4b5c8c;
  color: white;
  position: sticky;
  top: 0;
}

#IDProduct,
#EditProduct,
#DeleteProduct,
#IDCategoryProduct {
  width: 5%;
}
#NameProduct {
  width: 45%;
}
#DateProduct {
  width: 15%;
}
#PrixProduct,
#StockProduct {
  width: 10%;
}

.closeProduct,
.closeCategories,
.closeUsers {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4b5c8c;
  padding: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#hideProducts,
#hideCategories,
#hideUsers {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
table button {
  background-color: transparent;
}
tbody button {
  border: none;
}
tbody button a {
  color: #000;
}

/* width */
.tableProducts::-webkit-scrollbar,
.tableCategories::-webkit-scrollbar,
.tableUsers::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tableProducts::-webkit-scrollbar-track,
.tableCategories::-webkit-scrollbar,
.tableUsers::-webkit-scrollbar {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.tableProducts::-webkit-scrollbar-thumb,
.tableCategories::-webkit-scrollbar,
.tableUsers::-webkit-scrollbar {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.tableProducts::-webkit-scrollbar-thumb:hover,
.tableProducts::-webkit-scrollbar,
.tableProducts::-webkit-scrollbar {
  background: #555;
}

@media screen and (max-width: 1024px) {
  #firstContainer {
    flex-direction: column;
  }
  .allShowButtons {
    height: auto;
    width: 100%;
    position: static;
    padding: 1% 0;
    margin-bottom: 1%;
    /* justify-content: space-evenly; */
  }
  .allShowButtons ul {
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 1%;
    padding: 0 1%;
  }
  .allShowButtons li {
    width: 50%;
  }

  #secondContainer {
    width: 100%;
  }
  .sectionStats {
    width: 100%;
  }
  .stats {
    width: 92%;
    margin: auto;
  }
  .FormForAdd {
    width: 100%;
  }
}
/* (min-width: 769px)  */
@media screen and (max-width: 768px) {
  .stats {
    width: 100%;
  }
  .FormForAdd {
    width: 100%;
    flex-direction: column;
  }
  #addItem,
  .MainContent {
    width: 100%;
    margin-bottom: 1%;
  }
  .tableProducts,
  .tableCategories,
  .tableUsers {
    width: 90%;
    transform: translate(-50%, -70%);
  }
  #IDUsers,
  #LastnameUsers,
  #FirstnameUsers,
  .user_lastname,
  .user_firstname,
  .user_id,
  #StockProduct,
  #IDCategoryProduct,
  #DateProduct,
  .product_stock,
  .id_category,
  .product_date {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .stats {
    /* display: none; */
    flex-direction: column;
    align-items: center;
  }
  .cardStat {
    width: 80%;
  }
  .BoxInput {
    flex-direction: column;
  }
  .divInput {
    width: 100%;
    margin-bottom: 1%;
  }
}
