#container {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 2% 0;
}

/** Formulaire */

.MainContent {
  display: flex;
  width: 50%;
}
#FormRegister {
  background-color: var(--div-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#FormRegister h3 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 2% 0;
}
.FormChild {
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 50px;
}
#FormRegister label {
  color: #ffffff;
  display: flex;
  align-items: end;
  font-style: italic;
}
#FormRegister input {
  padding: 2%;
  background-color: var(--input-color);
  color: #fff;
}
.BoxPassword {
  display: flex;
  position: relative;
}
#password,
#confirm_password {
  width: 100%;
  border-radius: 10px;
  border-right: none;
  outline: none;
}
#showPassword,
#showConfirmPassword {
  position: absolute;
  background-color: transparent;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #fff;
}
#message {
  color: #ffa938;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
#submit {
  padding: 0 !important;
  background-color: var(--button-color) !important;
  cursor: pointer;
}
#submit:hover {
  background-color: var(--main-color) !important;
}
.Connexion {
  margin: 3% 0;
  color: #fff;
}
#Link {
  color: var(--button-color);
}
@media screen and (max-width: 1024px) {
  .MainContent {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .MainContent {
    width: 100%;
  }
  .FormChild {
    width: 100%;
  }
  .Connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
